html,
body {
  height: 100%;
}

body {
  display: -ms-block;
  display: block;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #00a1df;
  font-family: 'Lato', sans-serif;
}

.header-top {
  height: 250px;
  padding: 0;
  background-image: url('../img/imagen-ruta.jpg');
  background-position: center center;
  background-size: cover;
  padding-top: 50px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  padding-top: 45px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 6px 10px;
  font-size: 16px;
  background-color: #00a1df;
  color: #fff;
  border-radius: 0;
  border-color: #fff;
  margin-bottom: 15px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .form-control::placeholder {
  color: #fff;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .dropdown-menu {
  width: 100%;
}

.form-signin .dropdown-toggle::after {

}


.form-signin .btn-001 {
  background-color: #000;
  color:#fff;
  border-radius: 0;
  font-size: 11pt;
  margin-top: 30px;
  margin-bottom: 120px;
  padding: 6px;
}

.form-signin .btn-001:hover {
  background-color: #fff;
  color:#000;
}

.form-signin .h1 {
  color: #fff;
  font-size: 27px;
}

.form-signin .h2 {
  color: #fff;
  font-size: 16px;
  padding-bottom: 15px;
}









/*
 * Footer
 */
.blog-footer {
  bottom: 0;
  position: relative;
  width: 100%;
  font-size: 15px;
  padding: 12px 0;
  color: #000000;
  text-align: center;
  background-color: #f7f7f7;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


















